<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="0" value="OK, Timestamp {file} in folder {folder} was sent {duration} min ago."/>
    <add key="1" value="Last Timestamp in folder {folder} was sent more than {duration} min ago. There is a file {file}."/>
    <add key="2" value="Last Timestamp in folder {folder} was sent more than {duration} min ago! There is a file {file}."/>
    <add key="folder" value=" c:\Cyclop\Cyclop.Server\Modules\SentTimestamp"/>
    <add key="intervalWarning_1" value="660"/>
    <add key="intervalCritical_2" value="1080"/>
    <add key="formatDuration" value="m"/>
  </appSettings>
</configuration>