<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OracleConnectionString" connectionString="Data Source=ora_prod;User ID=uccn_app;Password=tx37548" />
  </connectionStrings>
  <appSettings>
    <add key="NameTable" value="tinia_winpak" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="fileNameUcoExcept" value="c:\Program Files\NSClient++\services\WinPakPEProcessing\ExceptUCO.dat"/>
  </appSettings>
</configuration>