<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CriticalDevices" type="System.Configuration.NameValueSectionHandler" />
    <section name="IgnoredDevices" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="WinPakControllersProbeFile" value="C:\IrkallaServices\Irkallas\Irkalla_NorthernReceiver\Probes\controller_failure_hwids.txt" />
  </appSettings>
  <CriticalDevices>
    <add key="325" value="controller pdf"/>
    <add key="683" value="controller pdf"/>
    <add key="1015" value="controller pdf"/>
    <add key="2" value="controller cps"/>
    <add key="44" value="controller esf"/>
    <add key="1514" value="controller esf"/>
    <add key="25" value="controller law"/>
  </CriticalDevices>
  <IgnoredDevices>
    <add key="1957" value="vyvojova"/>
  </IgnoredDevices>
</configuration>