<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="ServiceName" value="Irkalla"/>
        <add key="ReceiverTypeName" value="IrkallaDiagnosticsModules.IrkallaDiagnosticsReceiver, IrkallaDiagnosticsModules"/>        
        <add key="ResolverTypeName" value="MonitoringModules.StateResolver.ServiceStateResolverWrapper, MonitoringModules"/>   
        
	<add key="IrkallaDiagnosticsReceiver.LogDiagnostics" value="false"/>

        <!--Enki-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.Enki" value="tcp://localhost:15005/irkalla_enki"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.Enki" value="EnkiOperationExecutor"/>        
        <add key="ServiceStateResolver.Path.Enki" value="EnkiStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.Enki" value="default"/>

	<!--WinPakDB CPS-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.CPS_WinPakDB" value="tcp://147.251.12.147:9987/irkalla_cps"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.CPS_WinPakDB" value="WinPakDatabaseConnection"/>        
        <add key="ServiceStateResolver.Path.CPS_WinPakDB" value="WinPakDbStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.CPS_WinPakDB" value="default"/>

	 <!--GalaxyReceiverPhil-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.GalaxyReceiverPhil" value="tcp://localhost:9994/Irkalla_GalaxyReceivers"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.GalaxyReceiverPhil" value="GalaxyReceiverModulePhil"/>
        <add key="ServiceStateResolver.Path.GalaxyReceiverPhil" value="GalaxyReceiverStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.GalaxyReceiverPhil" value="default"/>

	<!--GalaxyReceiverCps-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.GalaxyReceiverCPS" value="tcp://localhost:9994/Irkalla_GalaxyReceivers"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.GalaxyReceiverCPS" value="GalaxyReceiverModuleCps"/>
        <add key="ServiceStateResolver.Path.GalaxyReceiverCPS" value="GalaxyReceiverStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.GalaxyReceiverCPS" value="default"/>

        <!--GalaxyReceiverGotex-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.GalaxyReceiverGotex" value="tcp://localhost:9994/Irkalla_GalaxyReceivers"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.GalaxyReceiverGotex" value="GalaxyReceiverModuleGotex"/>
        <add key="ServiceStateResolver.Path.GalaxyReceiverGotex" value="GalaxyReceiverStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.GalaxyReceiverGotex" value="default"/>
        
        <!--GalaxyReceiverGorkeho-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.GalaxyReceiverGorkeho" value="tcp://localhost:9994/Irkalla_GalaxyReceivers"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.GalaxyReceiverGorkeho" value="GalaxyReceiverModuleGorkeho"/>
        <add key="ServiceStateResolver.Path.GalaxyReceiverGorkeho" value="GalaxyReceiverStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.GalaxyReceiverGorkeho" value="default"/>

	<!--DuhaReceiverJN-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.DuhaReceiverJN" value="tcp://localhost:9992/Irkalla_DuhaReceiver"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.DuhaReceiverJN" value="DuhaReceiverJN"/>
        <add key="ServiceStateResolver.Path.DuhaReceiverJN" value="DuhaReceiverStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.DuhaReceiverJN" value="default"/>

	<!--DuhaReceiverV-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.DuhaReceiverV" value="tcp://localhost:9992/Irkalla_DuhaReceiver"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.DuhaReceiverV" value="DuhaReceiverV"/>
        <add key="ServiceStateResolver.Path.DuhaReceiverV" value="DuhaReceiverStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.DuhaReceiverV" value="default"/>

	<!--DuhaReceiverAN-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.DuhaReceiverAN" value="tcp://147.251.12.147:9992/Irkalla_DuhaReceiver"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.DuhaReceiverAN" value="DuhaReceiverAN"/>
        <add key="ServiceStateResolver.Path.DuhaReceiverAN" value="DuhaReceiverStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.DuhaReceiverAN" value="default"/>

        <!--DuhaReceiverG-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.DuhaReceiverG" value="tcp://localhost:9992/Irkalla_DuhaReceiver"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.DuhaReceiverG" value="DuhaReceiverG"/>
        <add key="ServiceStateResolver.Path.DuhaReceiverG" value="DuhaReceiverStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.DuhaReceiverG" value="default"/>

        <!--DuhaReceiverG-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.DuhaReceiverG" value="tcp://localhost:9992/Irkalla_DuhaReceiver"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.DuhaReceiverG" value="DuhaReceiverG"/>
        <add key="ServiceStateResolver.Path.DuhaReceiverG" value="DuhaReceiverStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.DuhaReceiverG" value="default"/>

        <!--DuhaProcessor-->
        <add key="IrkallaDiagnosticsReceiver.ServiceUrl.DuhaProcessor" value="tcp://localhost:9990/Irkalla_DuhaProcessor"/>
        <add key="IrkallaDiagnosticsReceiver.ModuleName.DuhaProcessor" value="DuhaProcessorModule"/>
        <add key="ServiceStateResolver.Path.DuhaProcessor" value="DuhaProcessorStateResolver.xml"/>
        <add key="ServiceStateResolver.ExtractorName.DuhaProcessor" value="default"/>


    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>